/* *******************************************
****** PROJECT SETUP
******************************************* */

/* VARIABLES */
:root {
  /* MAIN COLORS */
  --main: black;
  --secondary: white;
  --accent: red;

  /* FONTS */
  --title: serif;
  --text: aerial;
}

/* GLOBAL STYLES */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: 2px solid gold; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title);
}

body {
  font-family: var(--text);
}

/* *******************************************
****** PROJECT STYLES
******************************************* */

body {

  /* display: grid;
  grid-template-rows: 1px 1px 1px 1px;
  grid-template-columns: 1px 1px 1px 4px; */
}

navbar {
  display: block;
}

.navbar-collapse {
  /* position: absolute;
  z-index: 10; */
}

div.main-grid {
  height: 700px;
  border: 1px solid black;
  
}

.main-grid {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 25% 25% 25%;
  align-items: center;
}

#my-image {
  
  background-image: url("http://res.cloudinary.com/acurunner79/image/upload/c_scale,h_296/v1609347442/50049604_10213007986706278_8733739099321532416_o_artgtd.jpg");
  height: 300px;
  width: 300px;
  grid-row: 1/2;
  grid-column: 2/3;
}

#image-text {
  background-color: crimson;
  border: 1px solid black;
  grid-row: 2/3;
  grid-column: 2/3;
}

#about-me {
  background-color: darkolivegreen;
  grid-row: 3/4;
  grid-column: 2/3;
}

div.item-container {
  border: 1px solid black;
  background-color: yellow;
}

section.skills {
  margin: auto;
  display: grid;
  grid-gap: 1em;
  
}
section.bottom-container {
  /* border: 1px solid black; */
  grid-template-rows: 33% 33% 33%;
  display: grid;
  /* grid-gap: 3em; */
  justify-content: space-evenly;
}

.projects {
  /* border: 1px solid black;
  background-color: darkviolet; */
}
@media only screen and (min-width: 426px) {

  #image-text {
    grid-row: 1/2;
  }

  #my-image {
    grid-row: 2/3;
  }

  section.skills {
    grid-template-columns: 15% 15% 15% 15% 15% 15%;
  }

  div.item-container:first-child {
   grid-column: 2/4;
  }

  div.item-container:nth-child(2) {
    grid-column: 4/6;
  }

  div.item-container:last-child{
    grid-row: 2/3;
    grid-column: 3/5;
  }

  section.bottom-container {
    grid-template-columns: 15% 15% 15% 15% 15% 15%;
  }

  div.projects:first-child {
    grid-column: 2/4;
  }

  div.projects:nth-child(2) {
    grid-column: 4/6;
  }

  div.projects:last-child {
    grid-row: 2/3;
    grid-column: 3/5;
  }
}

@media only screen and (min-width: 769px) {
 
  div.item-container:first-child {
    grid-column: 1/3;
  }

  div.item-container:nth-child(2) {
    grid-column: 3/5;
  }

  div.item-container:last-child {
    grid-row: 1/2;
    grid-column: 5/7;
  }

  div.projects:first-child {
    grid-column: 1/3;
  }

  div.projects:nth-child(2){
    grid-column: 3/5;
  }

  div.projects:last-child {
    grid-column: 5/7;
  }
}
